<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask + SQLAlchemy TO-Do App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>To-Do List</h1>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <input type="text" name="task" placeholder="Enter a new task" required>
        <input type="file" name="file"/>
        <button type="submit">Add Task</button>
    </form>
    <br>

    <a href="/">Show All Tasks</a> |
    <a href="/?filter=completed">Show Completed Tasks</a> |
    <a href="/?filter=uncompleted">Show Uncompleted Tasks</a>


    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }}
               [Completed: {{ 'Yes' if task.completed else 'No' }}]

               <a href="/toggle/{{ task.id }}">
            {% if task.completed %}
                Mark Uncompleted
            {% else %}
                Mark Completed
            {% endif %}
                </a>
               <a href="/delete/{{ task.id }}">Delete</a>
               <a href="/edit/{{ task.id }}">Edit</a>

               {% if task.s3_url %}
                <a href="{{ task.s3_url }}" target="_blank">View Attachment</a>
                {% endif %}
            
            </li>
        {% endfor %}
    </ul>
</body>
</html>