name: Deploy Flask sqlalchemy App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Copy Files to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: tmumu
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "*"
        target: "/home/tmumu/Flask_SQLAlchemy_App"

    - name: SSH and start App
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: tmumu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/tmumu/Flask_SQLAlchemy_App
          source venv/bin/activate
          pkill python3 || true
          nohup python3 app.py &
          
       
